@model TabloidMVC.Models.ViewModels.CommentCreateViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>@Html.DisplayNameFor(model => model.CommentPost.Title)</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comment[0].Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentUserProfile.DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment[0].CreateDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Comment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserProfile.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary mx-1" title="Edit">
                    <i class="fas fa-pencil-alt"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-primary mx-1" title="Delete">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
